<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <%= favicon_link_tag %>
  <%= favicon_link_tag 'apple-touch-icon.png', :rel => 'apple-touch-icon' %>
  <%= favicon_link_tag 'apple-touch-icon-57x57.png', :rel => 'apple-touch-icon', :sizes => '57x57' %>
  <%= favicon_link_tag 'apple-touch-icon-72x72.png', :rel => 'apple-touch-icon', :sizes => '72x72' %>
  <%= favicon_link_tag 'apple-touch-icon-114x114.png', :rel => 'apple-touch-icon', :sizes => '114x114' %>
  <%= favicon_link_tag 'apple-touch-icon-144x144.png', :rel => 'apple-touch-icon', :sizes => '144x144' %>
  <%= favicon_link_tag 'apple-touch-icon-57x57.png', :rel => 'apple-touch-icon', :sizes => '60x60' %>
  <%= favicon_link_tag 'apple-touch-icon-72x72.png', :rel => 'apple-touch-icon', :sizes => '120x120' %>
  <%= favicon_link_tag 'apple-touch-icon-114x114.png', :rel => 'apple-touch-icon', :sizes => '76x76' %>
  <%= favicon_link_tag 'apple-touch-icon-144x144.png', :rel => 'apple-touch-icon', :sizes => '152x152' %>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div data-role="page">

    <div data-role="header" data-theme="b" data-position="fixed" style="padding-top:15px">
      <% if params[:action] == 'photo' %>
        <a href="/gallery" id="back" data-rel="back">Back</a>
      <% end %>
      <h1>John Colins</h1>
    </div>

    <!--
      <% if privileged_access? %>
        <form method="GET">
          <label for="releaseSelector">See this website: </label>
          <select id="releaseSelector" name="ref" onchange="this.form.submit()">
            <% if !api.refs.map{|_,r| r.ref }.include?(current_ref) %>
              <option>?</option>
            <% end %>
            <option value="" <% if current_ref == master_ref %>selected="selected"<% end %>>As currently seen by guest visitors</option>
            <optgroup label="Or preview the website in a future release:">
              <% api.refs.reject{|_,r| r.master? }.each do |_, ref| %>
                <option value="<%= ref.ref %>" <% if current_ref == ref.ref %>selected="selected"<% end %>>
                  As <%= ref.label %> <%= ref.scheduled_at && ref.scheduled_at.strftime("%Y-%m-%d") %>
                </option>
              <% end %>
            </optgroup>
          </select>
        </form>
      <% end %>
    -->

    <div data-role="content">
      <%= yield %>
    </div>

    <div data-role="footer" data-position="fixed" data-theme="c">
      <div data-role="navbar">
        <ul>
          <li>
            <a href="/" data-icon="home" <%= params[:action] == 'index' ? %(class="ui-btn-active" data-theme="b").html_safe : '' %>>
              Home
            </a>
          </li>
          <li>
            <a href="/gallery" data-icon="grid" <%= params[:action] == 'gallery' || params[:action] == 'photo' ? %(class="ui-btn-active" data-theme="b").html_safe : '' %>>
              Gallery
            </a>
          </li>
          <li>
            <a href="/menu" data-icon="star" <%= params[:action] == 'menu' ? %(class="ui-btn-active" data-theme="b").html_safe : '' %>>
              Our menu
            </a>
          </li>
        </ul>
      </div>

    </div>

<!--     <div data-role="footer">
      <% if connected? %>
        <%= link_to signout_path do %>Sign out<% end %>
      <% else %>
        <%= link_to signin_path do %>Sign in to preview changes<% end %>
      <% end %>
    </div> -->

</body>
</html>
